* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #32352A;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn {
    position: relative;
    width: 100px;
    height: 40px;
    background: skyblue;
    border-radius: 20px;
}
.btn:hover {
    background: lightgoldenrodyellow;
}
.btn:active {
    background: salmon;
}
