@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* 背景动效 */
#canvas{
	position: absolute;
	top: 0;
	left: 0;
    /* important */
	z-index: -1;
    pointer-events: none;
}


/* 背景色 */
.banner {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.png);
    background-size: cover;
    background-position: center;
    z-index: -2;
}


.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* background: transparent; */
    /* background-size: cover; */
    /* background-position: center; */
    /* z-index: 2; */
}
/* header-nav */
.header-nav {
    width: 100%;
    height: 80px;
    margin: auto;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    /* visibility: hidden; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-nav ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.header-nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.header-nav ul li::after {
    position: absolute;
    content: '';
    height: 3px;
    /* width: 0%; */
    width: 100%;
    background: #009688;
    left: 0;
    top: 100%;
    /* transform: translateY(5px); */
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.header-nav ul li:hover a {
    color: #009688;
}
.header-nav ul li:hover::after {
    /* width: 100%; */
    transform: scaleX(1);
}

/* 主体内容 */
.content {
    width: 100%;
    position: absolute;
    /* top: 50%; */
    top: 50vh;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
}
.content p {
    margin: 20px auto;
    font-weight: 300;
    line-height: 25px;
    font-size: 1.4rem;
    letter-spacing: 1.2px;
}
/* 按钮 */
button {
    position: relative;
    width: 200px;
    padding: 10px 0;
    margin: 20px 10px;
    text-align: center;
    /* font-weight: bold; */
    background: transparent;
    border: 2px solid #009688;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
}
button::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #009688;
    width: 0;
    height: 100%;
    border-radius: 25px;
    z-index: -1;
    transition: 0.5s;
}
button:hover {
    border: none;
}
button:hover::before {
    width: 100%;
}